cli-exit-tools==1.2.6
click==8.1.7
dill==0.3.8
lib-detect-testenv==2.0.8
multiprocess==0.70.16
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==69.5.1
six==1.16.0
slack-sdk==3.31.0
wrapt==1.14.1
wrapt-timeout-decorator==1.5.1
